<nav class="navbar navbar-inverse custom-navbar">
    <div class="navbar-header">
        <a class="navbar-brand" href="home">Calculator</a>
    </div>
    <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/home')}"><a href="home">Home</a></li>
        <li ng-class="{ active: isActive('/calculator')}"><a href="calculator">Calculator</a></li>
        <li ng-class="{ active: isActive('/toOnpConverter')}"><a href="toOnpConverter">To Onp converter</a></li>
        <li ng-class="{ active: isActive('/sort')}"><a href="sort">Sort</a></li>
    </ul>
</nav>